
@{
}

@model Entertainers
<form method="post">

    <label class="form-label" asp-for="EntStageName"></label>
    <input class="form-control" asp-for="EntStageName" />

    <label class="form-label" asp-for="EntSsn"></label>
    <input class="form-control" asp-for="EntSsn" />

    <label class="form-label" asp-for="EntStreetAddress"></label>
    <input class="form-control" asp-for="EntStreetAddress" />

    <label class="form-label" asp-for="EntCity"></label>
    <input class="form-control" asp-for="EntCity" />

    <label class="form-label" asp-for="EntState"></label>
    <input class="form-control" asp-for="EntState" />

    <label class="form-label" asp-for="EntZipCode"></label>
    <input class="form-control" asp-for="EntZipCode" />

    <label class="form-label" asp-for="EntPhoneNumber"></label>
    <input class="form-control" asp-for="EntPhoneNumber" />

    <label class="form-label" asp-for="EntWebPage"></label>
    <input class="form-control" asp-for="EntWebPage" />

    <label class="form-label" asp-for="EntEmailAddress"></label>
    <input class="form-control" asp-for="EntEmailAddress" />

    <label class="form-label" asp-for="DateEntered"></label>
    <input class="form-control" asp-for="DateEntered" />

    <button class="btn btn-primary" type="submit">Submit</button>

</form>

