@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Entertainment Agency Website!</h1>
</div>


<h1>Learn more about the entertainment we offer!</h1>

<div>
    <img src="~/img/microphone.jpg" height="400" />
    <br />
</div>