@{ 
}

@model List<Entertainers>


@foreach(var e in Model)
{
    <div>
        <h3>@e.EntStageName</h3>
        <a class="btn btn-primary" asp-action="Info" asp-route-id="@e.EntertainerId">Details</a>
    </div>
}

<br />
<br />

<a class="btn btn-success" asp-action="Add">Add Entertainer</a>